@import "./iconfont.css";

/* bg-color */
.bg-pink,.bg-ff6{background-color: #FF6480}
.bg-green,.bg-2bb{background-color: #2BB336}
.bg-green,.bg-2bb{background-color: #2BB336}
.bg-black,.bg-101{background-color: #101010}
.bg-gray,.bg-ccc{background-color: #ccc}

/* fc-color */
.fc-pink,.fc-ff6{color: #FF6480}
.fc-green,.fc-2bb{color: #2BB336}
.fc-green,.fc-2bb{color: #2BB336}
.fc-black,.fc-101{color: #101010}
.fc-3c3{color: #3c3c3c}
.fc-999{color: #999}
.fc-a0a{color: #a0a0a0;}

/* font-size */
.f20{font-size: 20px;}
.f22{font-size: 22px;}
.f24{font-size: 24px;}
.f26{font-size: 26px;}
.f28{font-size: 28px;}
.f30{font-size: 30px;}
.f32{font-size: 32px;}
.f48{font-size: 48px;}


/* 布局 */
.ib{display: inline-block;}
.pr {position: relative;}
.pa {position: absolute;}
.tc{text-align: center;}
.tl{text-align: left;}
.tr{text-align: right}

.fr{float:right;}
.p10{padding: 10px}
.p15{padding: 15px}
.p20{padding: 20px;}
.pl10{padding-left: 10px}
.pl20{padding-left:20px;}

.mt10{margin-top: 10px;}
.mt20{margin-top: 20px;}
.mr10{margin-right: 10px;}
.mr20{margin-right: 20px}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:15px;}


/* 按钮 */
.btn{display: inline-block; text-align: center; font-size: 24px;}
.btn.btn-info {border: 2px solid #9B9B9B; color: #3c3c3c; box-sizing: border-box}
.btn.btn-pink {background: #FF6480; color: #fff}
.btn.btn-green {background: #2BB336; color: #fff}

.btn.btn-small{width: 164px; height: 60px; border-radius: 30px; line-height: 60px;}
.btn.btn-big{ height:92px; line-height: 92px; border-radius: 46px;}

/* 授权操作 */
.panel-allow {width: 100%; height: 100%; position: fixed; z-index: 999; left: 0; top: 0; background: rgba(0,0,0,.8); font-size: 30px; text-align: center;}
.panel-allow .bar {height: 128px; line-height: 128px; background: linear-gradient(90deg, #623db1, #b351cf); font-size: 30px;}
.panel-allow .bar .btn-auth {display: inline-block; width: 142px; text-align: center; height: 68px; line-height: 68px; background: #fff; color: red; border-radius: 100px; font-size: 30px; margin-left: 30px;}


/* cover-view {overflow: auto} */


.loading-van {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-wrapper {
  padding: 30px;
  background-color: rgba(0,0,0,.6);
  border-radius: 6px;
}

.van-m-top {
  margin-top: 50px;
}