
/**index.wxss**/
.f72{font-size: 72px;}
.bg-a0a{background: #a0a0a0}

.toper{ height: 192px; padding: 30px; box-sizing: border-box;font-size: 32px; color: #fff;line-height: 132px; }
.toper .user-info{display: inline-block; }
.toper .user-info .avatar-con{display: inline-block; width: 116px; height: 116px; border-radius: 50%; vertical-align: middle; border:2px solid #fff; margin-right: 30px;background-color: #fff; overflow: hidden;}
.toper .user-info .avatar {display: block; width: 100%;height: 100%;}

.nav{ height: 128px; display: flex; background: #fff; margin-bottom: 15px }
.nav .item{flex: 1; text-align: center;  vertical-align: middle; margin: 15px 0 ; padding-top: 10px;}
.nav .all{overflow: hidden; position: relative; }
.nav .all:before{content: ''; transform: rotate(45deg); width: 30px; height: 30px; z-index: 2;background: #fff; border:2px solid #ddd ; position: absolute;left:-30px; top:30px; }
.nav .all:after{content: '';  width: 2px; height: 100%; z-index: 1; border-left:2px solid #ddd ; position: absolute;left:0; top:0; }

.tab-title{position: relative;height: 100px; background: #fff;  line-height: 100px; margin-bottom:10px; display: flex}
.tab-title .tab-one{ display: flex; width: 50%; box-sizing: border-box; background: #f9f9f9; justify-content: center; align-items:center }
.tab-title .tab-one i {margin-right: 10px; font-size: 30px;}
.tab-title .tab-one.act{ background: #fff; border-bottom: 4px solid #FF6480	}
.tab-title .tab-one.act i{ color: #FF6480 ; }
/* scroll-view */
/* .list-wrap{position:fixed;  bottom: 0; left: 0; right: 0 } */


/* 我的收藏 */
.like-list{}
.like-list .item{ width: 49.6%;  display: inline-block;margin-bottom: 6px;margin-right:.8%; background: #fff}
.like-list .item:nth-child(2n){margin-right:0;}
.like-list .item .img{display: block;width:100%; height: 372px; vertical-align: top; }
.like-list .item .txt{padding: 0 15px; line-height: 40px; font-size: 28px; }
.like-list .item .btn-wrap{text-align: center;padding-bottom: 20px;}
.like-list .item .btn{width:144px; height: 52px; vertical-align: top; line-height: 52px; border-radius: 26px; margin:0 10px; color:#999; border-color: #d7d7d7}

/* 订单列表 */
.coder-list{}
.coder-list .item{background: #fff;padding:20px;}
.coder-list .item .title{ height: 70px; color:#101010; line-height: 60px; border-bottom: 1px #f6f6f6 solid;margin-bottom: 25px;}
.coder-list .item .goods{ border-bottom: 1px #f6f6f6 solid; }
.coder-list .item .info{ display: flex }
.coder-list .item .info .pic{width:190px; height:190px; }
.coder-list .item .info .pic image{width:100%; height: 100%;}
.coder-list .item .info .detail{flex:1; padding-left: 20px;}


/* 现金券 */
.coupon-list{margin:15px}
.coupon-list .item{position:relative; height:200px; margin-bottom: 10px; }
.coupon-list .item:before,
.coupon-list .item:after{ content:''; position: absolute; height: 100%; width: 30px;  top: 0; z-index: 2;  }
.coupon-list .item:before{left: 0; background: url(https://image.guang.j.cn/static/imgs/dress/my/coupon-bg-01.png?t=9584) no-repeat; background-size:contain;}
.coupon-list .item:after {right: 0; background: url(https://image.guang.j.cn/static/imgs/dress/my/coupon-bg-02.png?t=9584) no-repeat right; background-size:contain;}
.coupon-list .item .cash-wrap{ display: inline-block; vertical-align: top; width: 200px; height: 200px; padding-top:40px; box-sizing: border-box; color:#fff;}
.coupon-list .item .cash-wrap .money{ position: relative; font-size: 70px; }
.coupon-list .item .cash-wrap .money:before{content: '￥'; position: absolute; left:-30px; bottom: 10px; font-size: 36px
  ; }
.coupon-list .item .detail{ position: relative; display: inline-block;vertical-align: top; width: 520px;height:200px; box-sizing: border-box; padding:15px; background: #fff;overflow: hidden; }
.coupon-list .item .detail .time{position: absolute; left: 15px; bottom: 15px;}
.coupon-list .item .detail .opation{position: absolute; right: 30px; bottom: 25px;}
.coupon-list .item .detail .opation .btn{ width: 152px; height: 56px; line-height: 56px }
.coupon-list .item .detail .used{ position: absolute; width:120px; height: 120px; right: 30px; bottom:-40px; background: url(https://image.guang.j.cn/static/imgs/dress/my/used.png?t=9584) no-repeat ; background-size: 100%;}

/* 我的地址 */
.no-address{position: fixed; left: 0; top:0; right: 0; bottom: 0; display: flex; align-items: center; justify-content: center;}
.no-address .inner{width:100%;}
.no-address .btn-wrap{ padding:30px; }
.no-address .btn-wrap .one{ padding: 30px; width: 50%; box-sizing: border-box; display: inline-block;}
.no-address .btn-wrap .one .btn{width:100%;}

/* .address-list{ border-top:2px solid #ddd; min-height: 100%; margin-bottom: -300px;  } */
.address-list .item {background: #fff}
.address-list .item-wrap{ margin-bottom: 20px;padding:20px;  }

.address-list .item-wrap.act{ background: url(https://image.guang.j.cn/static/imgs/dress/my/tiaotiao.png?t=9584) bottom no-repeat; background-size:contain;  }
.address-list .item .title{ font-size: 32px; font-weight:bold; color:#101010; line-height: 80px  }
.address-list .item .info{font-size: 26px; color: #666 ;padding-bottom:20px; margin-bottom: 20px; border-bottom: 2px solid #ddd}
.address-list .item .setting{line-height: 40px;}
/* .add-btn{position: fixed; bottom:60px; left: 0; right: 0; padding:20px;} */

.add-btn .btn{ width: 90%; font-size: 30px }

/*添加地址*/
.add-address .address-new{ padding:20px; font-size:30px }
.add-address .address-new .item{border-bottom: 2px solid #ddd; line-height: 100px;}
.add-address .address-new .item.flex{display:flex;align-items: center;}
.add-address .address-new .item .tip {display:inline-block; width:160px;}
.add-address .address-new .item  input{flex: 1;vertical-align: middle; line-height: 100px; }
.add-address .add-bottom{ position: fixed; bottom: 60px; left:0; right: 0;  padding:0 30px;}
.add-address .add-bottom .btn-big{width: 100%; margin-bottom: 30px; font-size: 30px;}

.coder-list, .like-list {
  position: relative;
  height: 100%;
}
.empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 300px;
}
.empty i {
  font-size: 110px;
  line-height: 1.5em;
}
.empty text {
  font-size: 32px;
  line-height: 44px;
  margin-top: 30px;
}