.van-checkbox__icon--checked .van-icon {
  border-color: #ff6480 !important;
  background-color: #ff6480 !important;
}
.van-tabbar-item--active {
  color: #ff6480 !important;
}

#mine .van-nav-bar {
  background-color: #ff6480;
  color: #fff;
}
.van-nav-bar .van-icon {
  color: #ff6480!important;
}
.van-swipe__indicator--active {
  background-color: #ff6480 !important;
}

.van-swipe__indicator {
  background-color: #fff;
}

.van-radio .van-icon-checked {
  color: #ff6480 !important;
}

/* 新建地址的保存按钮 */
.van-address-edit__buttons {
  position: fixed;
  width: 100%;
  left: 0;
  bottom: 40px;
  box-sizing: border-box;
}

.van-address-edit__buttons .van-button {
  border-radius: 46px;
  background-color: #ff6480;
  border-color: #ff6480;
  color: #fff;
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
  .van-nav-bar {
    padding-top: 44px;
  }
  .van-tabbar {
    padding-bottom: 34px;
  }
}
